<head>
    {% if title%}
        <title>{{ title }}</title>
    {% else %}
        <title> Design - UI </title>
    {% endif %}  
</head>

{% extends "layout.html" %}
    {% block content %}
    
    <style>
        input[type="submit"], input[type="button"], input[type="button"]{
            display: block;
            width: 115px;
            height: 45px;
            background: rgb(69, 162, 185);
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
        .error{
            color:red
        }
        .success{
            color:green
        }
    </style>

    <form method="POST" action="/save" id=form1>
        <h3><b>"{{ text_read }}"</b></h3>
         <!-----------------BUTTONS------------------->  
         <div class="btn-group"> 
            <input type="submit" value="Save">
            <input type="button" id = "bx" value="Record">
            <input type="button" value="Play">
            <input type="button" value="Delete">
         </div>         
    </form>        

    </form method="post" id="form_play">
        <h3 id="formz">
            Can I edit this with .JS?
        </h3>
        <a href="/feedback" type="button" style="color: rgb(255, 0, 119);">Rate this app.</a>
    <form>   
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}  
    
    {% endblock content %}