<head>
    {% if title%}
        <title>{{ title }}</title>
    {% else %}
        <title> Login </title>
    {% endif %}             
</head>

<style>
    input[type="submit"]{
            display: block;
            width: 115px;
            height: 45px;
            background: rgb(69, 162, 185);
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            cursor: pointer;
    }
</style>

{% extends "layout.html" %}
{% block content %}

    <h1> Login</h1>

    <form action="/design_handle" method="GET" id="l_form">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user"><br><br>

        <label for="pass">Password:</label>
        <input type="text" id="pass" name="pass"><br><br>

        <div class="btn-group">
            <input type="submit" value="Log In">
        </div>  
    </form>
    
{% endblock content %}

